<div class="row">
  <% @contacts.each do |contact| %>
  <div class ="col-sm-4">
    <div class ="product-box">
      <br>
      <center><p><h4><%= link_to  contact.full_name, "/contacts/#{contact.id} "%></center></h4></p>
      <hr>
      <p><strong>Email: </strong><%= contact.email %></p>
      <p><strong>Phone Number: </strong><%= contact.phone_number %></p>
      <p><strong>Bio: </strong><%= contact.bio %></p>
      <p><strong>Address:</u></p></strong>
      <p><%= contact.address %></p>
      <p><strong>Lat: </strong><%= contact.latitude %>, <strong>Long: </strong><%= contact.longitude %></p>
      <hr>
      <!-- <p>Contact Added On: <%= contact.friendly_created_at %></p> -->
      <!-- Single button -->
      <center>
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Modify Contact <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><%= link_to "Edit", "/contacts/#{contact.id}/edit" %></li>
            <li><%= link_to "Delete", "/contacts/#{contact.id}", method: :delete %></li>
          </ul>
        </div>
      </div>
    </div> 
  </center>
  <% end %>
</div>