<h1><%= @contact.last_name %>, <%= @contact.first_name %></h1>

<p>First Name:  <%= @contact.first_name %></p>
<p>Middle Name:  <%= @contact.middle_name %></p>
<p>Last Name: <%= @contact.last_name %></p>
<p>Email: <%= @contact.email %></p>
<p>Phone Number: <%= @contact.phone_number %></p>
<p>Bio:  <%= @contact.bio %></p>
<p>Address: <%= @contact.address %></p>
<p>Latitude: <%= @contact.latitude %></p>
<p>Longitude: <%= @contact.longitude %></p>

<p>Contact Added On: <%= @contact.friendly_created_at %></p>
<br>
<hr>
<center>
<!-- Single button -->
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Modify Contact <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><%= link_to "Edit", "/contacts/#{@contact.id}/edit" %></li>
    <li><%= link_to "Delete", "/contacts/#{@contact.id}", method: :delete %></li>
  </ul>
</div>
</center>
</div>